
.navContainer {
    display: flex;  
    max-width: 2400px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    background: #0077B6;
    justify-content: center;
    align-items: center;
}

.navRight {
    display: flex;  
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.navItem{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.navAnchor{
    text-decoration: none;
    color: #fff;
}
.mainContainer{
    display: flex;  
    max-width: 2400px;
    margin-left: auto;
    margin-right: auto;
}